<div class="chat-container">
    <h1 class="title">ChatHACKA</h1>
    <div class="messages">
        @for (message of messages; track $index) {
        <div class="message" [ngClass]="{'user-message': message.sender === 'Você'}">
            <div class="sender">{{ message.sender }}</div>
            <p [ngStyle]="{'color': message.color}" >{{ message.text }}</p>
            @if(message.options) {
                <div class="options-container">
                    @for(options of message.options; track $index) {
                        <div>
                            <input type="radio" [name]="message.text" [value]="message.options[$index]" [(ngModel)]="selectedOption" /> {{ message.options[$index] }}
                        </div>
                    }       
                    <button (click)="sendOption(selectedOption)" [disabled]="!selectedOption">Enviar</button>
                </div>
            }
<!--             @if(message.slider){
                <input type="range" [min]="message.min" [max]="message.max" [value]="message.value" [step]="message.value" [disabled]="true"/>
                <output>  {{message.value}}</output>
            } -->
        </div>
        }
    </div>
    <div class="input-container">
        <input [(ngModel)]="userInput.message" (keydown.enter)="sendMessage()" placeholder="Digite sua mensagem..." />
        <button (click)="sendMessage()">Enviar</button>
    </div>
</div>

